{% extends "index.html" %} {% block conteudo %}

<script>
    function dados_da_tabela() {
        var tabela = document.getElementById("minhaTabela");
        var linhas = tabela.getElementsByTagName("tr");
        console.log('teste')
        for (var i = 0; i < linhas.length; i++) {
            var linha = linhas[i];
            linha.addEventListener("click", function() {
                //Adicionar ao atual
                selLinha(this, false); //Selecione apenas um
                //selLinha(this, true); //Selecione quantos quiser
            });
        }

        /**
        Caso passe true, você pode selecionar multiplas linhas.
        Caso passe false, você só pode selecionar uma linha por vez.
        **/
        function selLinha(linha, multiplos) {
            console.log('teste1')
            if (!multiplos) {
                var linhas = linha.parentElement.getElementsByTagName("tr");
                for (var i = 0; i < linhas.length; i++) {
                    var linha_ = linhas[i];
                    linha_.classList.remove("selecionado");
                }
            }
            linha.classList.toggle("selecionado");
        }

        /**
        Exemplo de como capturar os dados
        **/
        var btnVisualizar = document.getElementById("visualizarDados");

        btnVisualizar.addEventListener("click", function() {
            var selecionados = tabela.getElementsByClassName("selecionado");
            //Verificar se eestá selecionado
            if (selecionados.length < 1) {
                alert("Selecione pelo menos uma linha");
                return false;
            }

            var dados = "";

            for (var i = 0; i < selecionados.length; i++) {
                var selecionado = selecionados[i];
                selecionado = selecionado.getElementsByTagName("td");
                dados += "ID: " + selecionado[0].innerHTML + " - Nome: " + selecionado[1].innerHTML + " - Idade: " + selecionado[2].innerHTML + "\n";
            }

            alert(dados);

            document.getElementById("nome_pessoa").value = nome;
            document.getElementById("result").value = dados;

        });
    }





    function formatar(mascara, documento) {
        var i = documento.value.length;
        var saida = mascara.substring(0, 1);
        var texto = mascara.substring(i)

        if (texto.substring(0, 1) != saida) {
            documento.value += texto.substring(0, 1);
        }

    }

    function teste1() {
        var tabl = document.getElementById('cpf_teste');
        var l = tabl.rows.length;
        //alert('Number of table rows: ' + l);
        var s = '';
        for (var i = 0; i < l; i++) {
            var tr = tabl.rows[i];
            //alert( 'Found ' + tr.nodeName + ' ' + i );
            var cll = tr.childNodes[0];
            //alert( 'Found a ' + cll.nodeName );
            var ct = cll.innerHTML.replace(/<[^<>]+>/g, '');
            alert(cll.nodeName + ' contains text: ' + ct);
            s += '|' + cll.innerText;
        }
    }




    function valida() {



        if ((servico1.nome_solicitante.value == "") && (servico1.valor.value == "")) {

            alert("Campos obrigatórios faltando!");
            servico1.valor.focus();
            servico1.servico.focus();
            return false;
        }
    }


</script>

<style>
    body {
        font-family: sans-serif;
    }
    
    #minhaTabela {
        width: 80%;
        margin: 0 auto;
        border: 0;
        box-shadow: 0 5px 30px darkgrey;
        border-spacing: 0;
    }
    
    #minhaTabela thead th {
        font-weight: bold;
        background-color: black;
        color: white;
        padding: 5px 10px;
    }
    
    #minhaTabela tr td {
        padding: 5px 10px;
        text-align: center;
        cursor: pointer;
        /**importante para não mostrar cursor de texto**/
    }
    
    #minhaTabela tr td:last-child {
        text-align: right;
    }
    /**Cores**/
    
    #minhaTabela tr:nth-child(odd) {
        background-color: #eee;
    }
    /**Cor quando passar por cima**/
    
    #minhaTabela tr:hover td {
        background-color: #feffb7;
    }
    /**Cor quando selecionado**/
    
    #minhaTabela tr.selecionado td {
        background-color: #aff7ff;
    }
    
    button#visualizarDados {
        background-color: white;
        border: 1px solid black;
        width: 50%;
        margin: 10px auto;
        padding: 10px 0;
        display: block;
        color: black;
    }
</style>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" id="dados" ">VISUALIZAR DADOS</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content ">
            <form name="servico1" action="/depositoPrevio" method="post">
                <fieldset>
                    <div class="form-group">
                        <label for="nome ">CPF do Apresentante</label>
                        <input type="text" id="nome" name="cpf" maxlength="14" OnKeyPress="formatar( '###.###.###-##', this)" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="servico">Nome do Apresentante</label>
                        <input type="text" id="servico" name="nome_solicitante" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="servico ">Tipo de Documento</label>
                        <input type="text" id="documento" name="tipo_documento" required class="form-control">
                    </div>

                    <div class="form-group">
                        <fieldset>
                            <legend> Escolha seus Titular</legend>
                            <form>
                                <INPUT TYPE="RADIO" NAME="criador" VALUE="Gabriel"> Gabriel
                                <INPUT TYPE="RADIO" NAME="criador" VALUE="Natacha"> Natacha
                                <INPUT TYPE="RADIO" NAME="criador" VALUE="Joao Paulo"> Joao Paulo
                                <INPUT TYPE="RADIO" NAME="criador" VALUE="Dirce"> Dirce


                            </form>
                        </fieldset>
                    </div>
              
            

           
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
              
             </fieldset>
        </form>  
        </div>
    </div>
</div>

 <form name="servico1" action="/depositoPrevio" method="post">
                <fieldset>
                    <div class="form-group">
                        <label for="nome ">CPF do Apresentante</label>
                        <input type="text" id="nome" name="cpf" maxlength="14" OnKeyPress="formatar( '###.###.###-##', this)" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="servico">Nome do Apresentante</label>
                        <input type="text" id="servico" name="nome_solicitante"OnKeyPress="formatar( '(##)#####-####', this)" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="servico">Telefone do Apresentante</label>
                        <input type="text" id="telefone" name="telefone_solicitante" maxlength="11"required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="servico ">Tipo de Documento</label>
                        <input type="text" id="documento" name="tipo_documento" required class="form-control">
                    </div>

                    <div class="form-group">
                        <fieldset>
                            <legend> Escolha seus Titular</legend>
                            <form>
                                <INPUT TYPE="RADIO" NAME="criador" VALUE="Gabriel"> Gabriel
                                <INPUT TYPE="RADIO" NAME="criador" VALUE="Natacha"> Natacha
                                <INPUT TYPE="RADIO" NAME="criador" VALUE="Joao Paulo"> Joao Paulo
                                <INPUT TYPE="RADIO" NAME="criador" VALUE="Dirce"> Dirce


                            </form>
                        </fieldset>
                    </div>
                     <button type="submit"  class="btn btn-primary btn-salvar">Salvar</button>
                </fieldset>
        <!---
        </form>  
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tabela de Registro de depositos
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>CPF</th>
                                <th>Nome</th>
        
                                <th>Documento</th>
        
                                <th>Data</th>
                             
        
                            </tr>
                        </thead>
                       
                        {%for deposito in depositoGlobal%}
                        <tbody>
                            <tr>
                                <td>{{deposito.cod_deposito}}</td>
                                <td>{{deposito.cpf_solicitante}}</td>
                                <td>{{deposito.nome_solicitante}}</td>
                                <td>{{deposito.tipo_documento}}</td>
                                <td>{{deposito.data_criacao}}</td>
                                
                              
                                <td>
                                    <form method="post" action="/registro/{{deposito.cod_deposito}}">
                    
                                            <button type="submit"></button>
                                    </form>
                               
                            </tr>
                         </tbody>
                        {%endfor%}  
                    </table>
                   
                </div>
            </div>
        </div> -->


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tabela de informaçoes
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>CPF</th>
                                <th>Nome</th>
                                <th>Documento</th>
                                <th>Data</th>
                                <th>Botao</th>
                             
        
                            </tr>
                        </thead>
                    
                        
                        <tbody>
                            {%for deposito in depositoGlobal%}
                            <tr>
                                <td>{{deposito.cod_deposito}}</td>
                                <td>{{deposito.cpf_solicitante}}</td>
                                <td>{{deposito.nome_solicitante}}</td>
                                <td>{{deposito.tipo_documento}}</td>
                                <td>{{deposito.data_criacao}}</td>
                               
                                
                              
                                <td>
                                    <form method="post" action="/registro/{{deposito.cod_deposito}}">
                                        <button type="submmit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                                                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                                           
                                          </svg>
                                              </button>
                    
                                      
                                    </form>
                               
                            </tr>
                                {%endfor%}
                         </tbody>
                      
                    </table>
        
        
                </div>
            </div>
        </div>

        





{%endblock%}