{% extends "user/index.html" %} {% block conteudo %}
<style type=text/css>
    font{font-family:verdana;font-size:8pt;color:#1c1c1c;}
    font.a{font-family:verdana;font-size:8pt;color:#1874cd;}
    a{font-family:verdana;font-size:8pt;color:#696969;text-decoration:none;}
    input{background-color:#cccccc;font-family:verdana;font-size:8pt;color:#1c1c1c;}
    textarea{background-color:#f9f9f9;font-family:verdana;font-size:8pt;color:#1c1c1c;}
    </style>
     
    <script language=javascript>
    <!--
    function writ() {
    f = window.open("orcamento_user","_blank","width=600,height=400");
    f.document.write(document.editfuspost.news.value);
    f.document.close();
  
    }
    //-->
    </script>
    <script language=javascript>
  

     
    
    function Preview() {
     
    }
    //-->

    function exibeValor(nomeCampo, lenCampo, controle)
{
	if ((nomeCampo.value.length == lenCampo) && (checarTabulacao))
	{	
		var i=0;
		for (i=0; i<document.forms[0].elements.length; i++)
		{
			if (document.forms[0].elements[i].name == nomeCampo.name)
			{
				while ((i+1) < document.forms[0].elements.length)
				{
					if (document.forms[0].elements[i+1].type != "hidden")
					{
						document.forms[0].elements[i+1].focus();
						break;
					}
					i++;
				}
				checarTabulacao=false;
				break;
			}
		}
	}
}
	
function stopTabCheck(nomeCampo)
{checarTabulacao=false;}
 
function startTabCheck()
{checarTabulacao=true;}
    </script>
    </head>
     
  
    <input class=mainoption type="button" name=none4 value="modelo da mensagem" onclick="writ()">
    </TD>
    </TR>
    </FORM>
    </TABLE>
     

    <input type="text" onkeypress="startTabCheck();" onkeyup="exibeValor(this, 7, 0)" onfocus="stopTabCheck(this)" maxLength="7" size="7" name="campo">

                
    

{%endblock%}